---
layout: archive
title: "Milk & Honey"
permalink: /milkandhoneymamas/
author_profile: true
---

## Milk & Honey Mamas
Milk & Honey Mamas is a website I run meeting children where they are with theological ideas and practices. As a mother, I believe deeply that our fervent desire to nourish and delight our children is a spiritual heritage. I believe that children are intelligent, creative, and insightful humans who do not need our theological crumbs. They need the full meal, at the big table, laden with milk and honey.

I run this website with two colleagues. You can check out the main website here: https://themilkandhoneymamas.com/

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

