---
layout: archive
title: "Milk & Honey Mamas"
permalink: /milkandhoneymamas/
author_profile: true
---

 <!-- Avatar -->
<div id="logo"> 
	<img src="images/Avatar.jpg"> 
</div> 

Milk & Honey Mamas is a website I run meeting children where they are with theological ideas and practices. As a mother, I believe deeply that our fervent desire to nourish and delight our children is a spiritual heritage. I believe that children are intelligent, creative, and insightful humans who do not need our theological crumbs. They need the full meal, at the big table, laden with milk and honey.

<br> 
I run this website with two colleagues. You can check out the main website here: <a href="https://themilkandhoneymamas.com/"></a>.

 <!-- Grid of images for website -->
<div class="row">
  <div class="column">
    <img src="images/P1.jpg">
    <img src="images/P5.jpg">
    <img src="images/P6.jpg">
    <img src="images/P10.jpg">
  </div>
  <div class="column">
    <img src="images/P4.jpg">
    <img src="images/P9.jpg">
    <img src="images/P11.jpg">
    <img src="images/P7.jpg">
  </div>
</div>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

